world/
banned-ips.json
banned-players.json
ops.json
server.properties
usercache.json
usernamecache.json
whitelist.json
eula.txt
logs/
crash-reports/
defaultconfigs/
user_jvm_args.txt

debug.bat
debug.sh

patchouli_books/
config/artifacts/
config/forgeendertech/
config/bettervillage_1.properties
config/libraryferret_1.properties
